body{
  font-family: 'Montserrat', sans-serif,'Times New Roman', Times, serif;
  font-weight: 600;
  overflow-x: hidden;
}
.navbar-collapse ul{
  text-transform: uppercase;
}
.navbar-collapse ul li .my-list-item{
  color: #FFFFFF !important;
}
.navbar-collapse ul li .my-list-item:hover{
  color: #1ABC9C !important;
}
.bg-my-primary{
  background-color: #2C3E50;
}
.bg-my-secondary{
  background-color: #1ABC9C;
}
.main-image{
  width: 250px;
}
#main-container{
  height: 80vh;
  color: #FFFFFF;
}
#main-container h1{
  font-size: 3rem;
  font-weight: 800;
  text-transform: uppercase;
}
.line{
  width: 112px;
  height: 3px;
}
#about{
  height: 60vh;
  background-color: #1ABC9C;
}
.text-block{
  font-weight: 400;
  text-align: justify;
}
.contact-borders{
  border: none;
  border-bottom: 1pt solid rgb(215, 207, 207);
}
.footer {
  margin-top: 3rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #2c3e50;
  color: #fff;
  font-weight: 900;
}
footer {
  display: block;
}

